:host {
  .mat-toolbar {
    background-color: white;
  }

  ::ng-deep {
    .mat-tab-nav-bar {
      border-bottom: 0;
    }
    .mat-tab-link-container {
      height: 100%;
    }
    .mat-tab-list {
      display: flex;
      align-items: center;
    }
  }
}
