<ng-container *ngIf="{ activeLink: activeLink$ | async } as ctx">
  <mat-toolbar class="mat-elevation-z2 sticky top-0">
    <div class="container mx-auto h-full flex items-center">
      <div class="flex mr-6 tracking-wider opacity-70">
        Currency<span class="font-bold">Exchange</span>
      </div>
      <nav mat-tab-nav-bar class="h-full border-b-0 flex items-center">
        <a
          class="h-full uppercase"
          mat-tab-link
          *ngFor="let link of links"
          (click)="navigate(link)"
          [active]="ctx.activeLink === link.route"
        >
          {{ link.title }}
        </a>
      </nav>
    </div>
  </mat-toolbar>
</ng-container>

<router-outlet></router-outlet>
